.App {
  text-align: center;
  /* padding-top: 25vh;
  padding-left: 10vh;
  padding-right: 10vh; */
}

.flag-icon {
  width: 24px;
  height: 16px;
  margin-right: 8px;
}

.card {
  background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

table {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}